*{
    margin:0;
    padding:0;  
}
a {
 text-decoration: none;
}
::selection{
    background-color:black;
    color: white;
}

.navbar {
    display:flex;
    justify-content: left;
    align-items: center;
    position: sticky;
    top: 0;
}
.leftnav {
    width:12%;
    display:flex; 
}
.logo {
    padding: 10px; 
}

.logo img {
    width:40%;
    border:3px solid black;
     border-radius: 50px; 
     align-items: center;
    }
       
.rightnav{
    width:85%;
    display:flex;
    align-items: center;
    justify-content: right;
    
}
.title {
    justify-content: right;
    align-items: center;
    font-family:cursive;
color: white;
font-size:xxx-large;

}
.rightnav li{
        list-style:none;
        padding: 2PX 30PX;
}
.rightnav li a {
text-decoration: none;
color:ghostwhite;
} 
.rightnav li a:hover {
    color:lightcoral;
    }
         
    .t1
    {
        margin:20px;
        color:peachpuff;
        font-size: 35px;
    }
    .wrapper{
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .wrapper .static-txt{
        font-size: 25px;
        font-weight: 300;
        color:white;
    }
    .wrapper .dynamic-txt{
        margin-left: 15px;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
    }
    .dynamic-txt li{
        color:burlywood;
        list-style: none;
        font-size: 25px;
        font-weight: 300;
        position: relative;
        top:0;
        animation: slide 6s steps(4)infinite;
    }
    @keyframes slide {
        100%{
          top: -120px;
        }
    }

    .dynamic-txt li span{
        position: relative;
    }
    .dynamic-txt li span::after{
        content:" ";
        position:absolute;
        left:0;
        height: 100%;
        width: 100%;
        background: rgb(71, 71, 71);
        border-left: 3px solid burlywood;
        animation: typing 1.5s steps(14) infinite;
    }
    @keyframes typing {
        100%{
            left:100%;
            margin: 0 -10px 0 17px;
        }
    }
    .p1
    {
        text-decoration: none;
    font-style:normal;
        margin: 30px;
        color:lemonchiffon;
    }
    .p1 a {
        color:darksalmon;
    }
    header{
        font-size: 24px;
        font-family:cursive;
        text-align: center;  
    }
    main{
        width: auto;
        margin:auto;
        margin-left: 150px;
        
    }
    .box{
        display: block;
        float: left;
        width: 20%;
        padding: 10px;
    }
   .box img{
    align-items: center;
    width: 100%;
    border-radius: 5px;
    width:100%;
    height: 130px; 
    
   } 
   .box img:hover{
    transform: scale(1.7,1.7);
    transition: .5s transform;
   }
.container 
{
    width: auto;
    margin:auto;
   overflow: auto;
    display:flex;
}
    .gallery1
    {
        border-radius: 35px;   
        width: 25%; 
        box-sizing: border-box; 
        border: 5px solid antiquewhite ; 
        margin: 5px;
        background-color:lightsteelblue;
    }
    /* .gallery1 :hover
         {border-color: blue;} */
    .gallery1 img
    {
        border-radius: 30px;  
        width:100%;
        height: 170px;  
    }
    .gallery2
    {
        border-radius: 35px;   
        width: 25%; 
        box-sizing: border-box; 
        border: 5px solid gainsboro; 
        margin: 5px;
        background-color:lightsteelblue;
    }
    .gallery2 img
    {
        border-radius: 30px;  
        width:100%;
        height: 170px;
    }
    .name 
    {
        padding:10px;
        text-align: center;
        text-decoration: none;
        color:black;
    }
    .background
    {
        height: auto;
        /* background:rgba(0,0,0,0.7) url(../vishnu.jpg) ; */
        background-color:rgb(71, 71, 71);
        background-size: cover;
        background-blend-mode: darken;
    }
     .navlogo {
        display:flex;
        align-items: center;
        position: sticky;
        top: 0;
    } 
   
     .log {
        width: 10%;
        padding: 10px;
        position: sticky;
        top: 0;

    }
    .firstsection 
    {
        /* height:100vh; */
        padding:1px 30px;
        
    }
    .details-container1
    {
        display:flex;
        justify-content: space-between;
      align-items: center;

    }.details-container2
    {
        display:flex;
        justify-content: center;
      align-items: center;

    }
    .firsthalf
    {
justify-content: left;    }
    .big-text
{
    color:lightsteelblue;
}
.small-text {
    color:gainsboro;
    font-size:small;
    }
    .secondhalf
    {
        margin-left: 20px;
        /* justify-content:right;  */
    }
   
    .slideimg img {
    border-radius: 30px; 
    border: 5px solid red; 
    margin: 20px 0; 
    }
    .secondsection 
    {
        /* height:100vh; */
        padding:1px 30px;
        
    }
    .background2
    {
        height: auto;
        /* background:rgba(0,0,0,0.7) url(../shiva.jpg) ; */
        background-color:rgb(71, 71, 71);
       background-size: cover;
        background-blend-mode: darken;
    }
    /* .map{
    
        border: 5px solid red; 

       
       
    } */
    footer {
        background-color:dimgrey;
        text-decoration: none;
        padding: 2px ;
    }
    .footernav{        
       margin :15px ;
    }
        .footernav ul {
         display: flex;
        justify-content: center;
        list-style-type: none;
        text-align: center;
        align-items: center;
        
        }           
        .footernav ul li a{
        color:white;
      
            }       
   
      .footernav ul li a:hover{
        color: orangered;
      }      
              .disclaimer
        {
            justify-content: center;
            align-items: center;
            color: aqua;
            display: flex;
        }
        .footericon {
            width: 40%;
            padding: 10px;
            margin: auto;
        }